[
<% otakus.each_with_index do |ota, index| %>
    {
    "itemNum": "<%=h index %>",
    <% if ota.ad %>
    "itemSource": "<%= ota.item_source %>",
    <% else %>
    "itemSource": "<div class='<% if ota.yuru_chara %>wrapyuru0<%= index % 4 + 1 %><% else %>wrapotaku<% end %>'><ul><li><a href='https://twitter.com/<%=h ota.tw_id %>'><img src='<%=h ota.profile_image %>'></a></li><li><div class='name'><%=h ota.name %></div><div class='accounts'><a href='https://twitter.com/<%=h ota.tw_id %>' target='_blank'><%=h ota.tw_id %></a></div><div class='message'><%= h(ota.message).gsub('|', '<br/>') %></div><div class='otaimages'><% unless ota.contents_path.nil?  %><a href='<%=h ota.contents_path %>'><% if ota.contents_path_extension =~ /(jpg|gif|png)/ %><img src='<%=h ota.contents_path %>'><% elsif ota.contents_path_extension =~ /(mov|mp4)/ %><video controls src='<%=h ota.contents_path %>'></video><% else %><% logger.warn "unknown type: #{ota.contents_path_extension}"  %><% end %></a><% end %></div></li></ul></div><!-- /wrapotaku -->",
    <% end %>
    "ad?": <%=h ota.ad %>,
    "chara?": <%=h ota.yuru_chara %>
    }<% unless index == otakus.length - 1  %>,<% end %>
<% end %>
]
